<% if current_user %>
  <div class='navbar'>
    <%= link_to 'log out', sessions_destroy_path, method: 'delete' %>
    <%= link_to 'New Book', new_book_path %>
    <%= link_to 'New Blog', new_blog_path %>
  </div>
<% end %>